.row {
    margin-right: -8px;
    margin-left: -8px;
}

.without-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

fieldset {
    border: 0;
    margin: 0 0 0.5em 0;
    padding: 0.75em;
    background-color: #f7f7f7;
    /*box-shadow: 0 0 5px rgba(0,0,0,0.2);*/
    overflow: hidden;
    /*border-radius: 0.3em;*/
    border-radius: 0px;
    border: 1px solid #4682B4;
}

    fieldset > h3 {
        font-weight: 500;
        font-size: 1.2em;
        background-color: #FFF;
        background-color: #4682B4;
        margin: -0.824em -0.824em 0.824em -0.824em;
        padding: 1em;
        /*box-shadow: 0 0 3px rgba(0,0,0,0.1);*/
        /*border-radius: 0.3em 0.3em 0 0;*/
        border-radius: 0px;
        color: white !important;
        font-weight: bold !important;
    }


legend {
    font-size: 13px;
    line-height: inherit;
    white-space: normal;
}

.checkbox-inline {
    margin-top: 6px;
}

.form-control {
    display: block;
    width: 100%;
    height: 24px;
    padding: 3px 6px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }

    .form-control::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .form-control:-ms-input-placeholder {
        color: #999;
    }

    .form-control::-webkit-input-placeholder {
        color: #999;
    }

    .form-control::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control {
        background-color: #f3f7f9;
        opacity: 1;
    }

    .form-control[disabled],
    fieldset[disabled] .form-control {
        cursor: not-allowed;
    }

textarea.form-control {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: none;
}

.form-group {
    margin-bottom: 6px;
}

.form-group-lg {
    margin-bottom: 12px;
}

.form-group .control-label {
    line-height: 1.5;
}

.radio,
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .radio label,
    .checkbox label {
        min-height: 20px;
        padding-left: 10px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }

    .radio > input[type="radio"] {
        margin-left: 5px;
        margin-right: 10px;
    }

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
    cursor: not-allowed;
}

.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
    cursor: not-allowed;
}

.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
    cursor: not-allowed;
}

.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success.radio label,
.has-success.checkbox label {
    color: #3c763d;
}

.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

    .has-success .form-control:focus {
        border-color: #2b542c;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    }

.has-success .input-group-addon {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}

.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning.radio label,
.has-warning.checkbox label {
    color: #8a6d3b;
}

.has-warning .form-control, .form-control.has-warning {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

    .has-warning .form-control:focus, .form-control.has-warning :focus {
        border-color: #66512c;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
    }

.has-warning .input-group-addon {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #8a6d3b;
}

.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error.radio label,
.has-error.checkbox label {
    color: #a94442;
}

.has-error .form-control, .form-control.has-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

    .has-error .form-control:focus, .form-control.has-error {
        border-color: #843534;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    }

.has-error .input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}

.form-control.focus, .form-control:focus {
    border-color: #62a8ea;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
    padding-top: 3px;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 27px;
}

.form-horizontal .form-group {
    margin-right: -8px;
    margin-left: -8px;
}

.form-horizontal .control-label {
    padding-top: 3px;
    margin-bottom: 0;
    text-align: right;
}

.form-title {
    color: #76838f;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 5px;
}

    .form-title > span {
        border: 1px solid #e4eaec;
        border-radius: 10px;
        padding: 5px;
        background-color: #e4eaec;
    }

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

    .input-group[class*="col-"] {
        float: none;
        padding-right: 0;
        padding-left: 0;
    }

    .input-group .form-control {
        position: relative;
        z-index: 2;
        float: left;
        /*width: 100%;*/
        margin-bottom: 0;
    }

        .input-group .form-control:focus {
            z-index: 3;
        }

    .input-group-addon,
    .input-group-btn,
    .input-group .form-control {
        display: table-cell;
    }

        .input-group-addon:not(:first-child):not(:last-child),
        .input-group-btn:not(:first-child):not(:last-child),
        .input-group .form-control:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

.input-group-addon,
.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-addon {
    padding: 3px 12px;
    /*font-size: 14px;*/
    /*font-weight: normal;*/
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    border-radius: 0px;
}

    .input-group-addon input[type="radio"],
    .input-group-addon input[type="checkbox"] {
        margin-top: 0;
    }

    .input-group .form-control:first-child,
    .input-group-addon:first-child,
    .input-group-btn:first-child > .btn,
    .input-group-btn:first-child > .btn-group > .btn,
    .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
    .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .input-group-addon:first-child {
        border-right: 0;
    }

    .input-group .form-control:last-child,
    .input-group-addon:last-child,
    .input-group-btn:last-child > .btn,
    .input-group-btn:last-child > .btn-group > .btn,
    .input-group-btn:first-child > .btn:not(:first-child),
    .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .input-group-addon:last-child {
        border-left: 0;
    }

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    border-radius: 4px;
}

    .input-group-btn > .btn {
        position: relative;
        padding: 3px 12px;
        line-height: 1.315;
        height: 24px;
        /*border-radius: inherit;*/
        color: #fff;
        background-color: #62a8ea;
        border-color: #ccc;
        outline-color: transparent !important;
    }

        .input-group-btn > .btn.delete {
            padding: 3px 4px;
            border: none;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            color: #555;
            background-color: #fff;
        }

        .input-group-btn > .btn + .btn {
            margin-left: -1px;
        }

        .input-group-btn > .btn:hover,
        .input-group-btn > .btn:focus,
        .input-group-btn > .btn:active {
            z-index: 2;
        }

    .input-group-btn:first-child > .btn,
    .input-group-btn:first-child > .btn-group {
        margin-right: -1px;
    }

    .input-group-btn:last-child > .btn,
    .input-group-btn:last-child > .btn-group {
        z-index: 2;
        margin-left: -1px;
    }

.question {
    float: right;
    position: absolute;
    right: -6px;
    top: 6px;
    cursor: pointer;
    font-size: 13px !important;
    color: #2461aa;
    z-index: 5;
}
