<div class="page-content">
    <div class="panel">
        <header class="panel-header">
            <h3 class="panel-title">Listado de Formularios</h3>
        </header>
        <div class="panel-body">
            <jtse-grid id="grd_Formulario" class="col-sm-24"></jtse-grid>
        </div>
    </div>
</div>

<jtse-modal id="mdl_Editar_Formulario">
    <div class="row">
        <style>
            .form-horizontal .control-label {
                text-align: left;
            }
        </style>
        <div class="col-sm-24 form-horizontal" data-container="FRM_MDL_FORMULARIO">
            <div class="form-group">
                <div class="col-sm-24">
                    <label class="control-label col-sm-24">ID :</label>
                    <div class="col-sm-24">
                        <input type="text" class="form-control" id="TXT_MDLFORMULARIO_ID" readonly maxlength="120" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-24">
                    <label class="control-label col-sm-24">Página * :</label>
                    <div class="col-sm-24">
                        <input type="text" class="form-control required" id="TXT_MDLNOMBRE_PAGINA" maxlength="50" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-24">
                    <label class="control-label col-sm-24">Nombre * :</label>
                    <div class="col-sm-24">
                        <input type="text" class="form-control required" id="TXT_MDLNOMBRE_FORMULARIO" maxlength="50" />
                    </div>
                </div>
            </div>



        </div>

    </div>

</jtse-modal>