.date-picker-x {
    background: white;
    box-sizing: content-box;
    color: #bbb;
    display: none;
    font: 18px/1 Arial;
    padding: 0px;
   /* -webkit-transform: translateY(15px);
    transform: translateY(15px);*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 230px;
    z-index: 201;
    position:absolute;
    /*overflow:visible !important;*/
    /*position: fixed;*/
    border: 1px solid #e4eaec;
}

    .date-picker-x::before {
        border-color: #444 transparent;
        border-style: solid;
        border-width: 0 10px 10px;
        bottom: 100%;
        content: "";
        left: 20px;
        position: absolute;
        display: none;
    }

    .date-picker-x.active {
        display: block;
    }

    .date-picker-x * {
        box-sizing: border-box;
    }

    .date-picker-x .dpx-title-box {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid #ccc;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 45px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-bottom: 0;
        background-color: #62a8ea;
        color: white;
    }

    .date-picker-x .dpx-prev,
    .date-picker-x .dpx-next {
        color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
        font-size: 22px;
        line-height: 50px;
        text-align: center;
        -webkit-transition: .2s;
        transition: .2s;
        width: 50px;
    }

        .date-picker-x .dpx-prev:hover,
        .date-picker-x .dpx-next:hover {
            color: #fff;
        }

    .date-picker-x .dpx-title {
        font-size: 14px;
        line-height: 20px;
        padding: 0 10px;
    }

    .date-picker-x:not([data-dpx-type="year"]) .dpx-title {
        cursor: pointer;
    }

    .date-picker-x .dpx-content-box {
        box-sizing: content-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 200px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 10px;
    }

    .date-picker-x .dpx-btns {
        border-top: 1px solid #ccc;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 3px;
        margin-top: 5px;
        /*display: none;*/
    }

        .date-picker-x .dpx-btns .dpx-item {
            -webkit-box-flex: 1;
            -ms-flex: 1 1 0;
            flex: 1 1 0;
            height: 30px !important;
        }

    .date-picker-x .dpx-item {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
        flex: 1 0 25%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 12px !important;
    }

        .date-picker-x .dpx-item:not(.dpx-weekday) {
            cursor: pointer;
        }

            .date-picker-x .dpx-item:not(.dpx-weekday):hover {
                border-radius: 50%;
                box-shadow: inset 0 0 0 2px #62a8ea;
            }

    .date-picker-x .dpx-weekday {
        font-size: 10px;
        height: 24px !important;
    }

    .date-picker-x[data-dpx-type="day"] .dpx-item {
        -ms-flex-preferred-size: 30px;
        flex-basis: 30px;
        height: 30px;
    }

    .date-picker-x .dpx-selected {
        background: #62a8ea;
        color: white !important;
        border-radius: 50%;
    }

    .date-picker-x .dpx-weekend {
        color: rgb(187, 187, 187);
    }

    .date-picker-x .dpx-out {
        color: red;
    }

    .date-picker-x .dpx-disabled {
        color: #666 !important;
        cursor: default !important;
        box-shadow: none !important;
    }

    .date-picker-x .dpx-current {
        box-shadow: inset 0 0 0 2px #66a3ff !important;
    }

    .date-picker-x .dpx-disabled.dpx-current {
        box-shadow: inset 0 0 0 2px #66a3ff !important;
    }
