.jtse-popover {
    position: absolute;
    width: auto;
    height: auto;
    top: 50px;
    left: 0;
    z-index: 1060;
    padding: 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

    .jtse-popover .popover-content {
        padding: 10px 8px;
    }

        .jtse-popover .popover-content > .popover-item {
            text-align: center;
            cursor: pointer;
        }

    .jtse-popover > .popover-arrow, .jtse-popover > .popover-arrow:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }

    .jtse-popover > .popover-arrow {
        border-width: 11px;
    }

        .jtse-popover > .popover-arrow:after {
            content: "";
            border-width: 10px;
        }

    .jtse-popover.popover-bottom > .popover-arrow {
        top: -11px;
        left: 50%;
        margin-left: -11px;
        border-top-width: 0;
        border-bottom-color: #999;
        border-bottom-color: rgba(0,0,0,.25);
    }

        .jtse-popover.popover-bottom > .popover-arrow:after {
            top: 1px;
            margin-left: -10px;
            content: " ";
            border-top-width: 0;
            border-bottom-color: #fff;
        }
