<div class="page-content">
    <div class="panel">
        <header class="panel-header">
            <h3 class="panel-title">Listado de Comerciales</h3>
        </header>

        <div class="panel-body">
            <div class="form-horizontal">
                <jtse-grid id="grd_Comercial" class="col-sm-24"></jtse-grid>
            </div>
        </div>
    </div>
</div>

<jtse-modal id="MDL_lista_leads_usuario">
    <div class="row">
        <view view-name="VW-MDLLista_Leads_Usuario"></view>
    </div>
</jtse-modal>
