.progress {
    display: flex;
    height: 20px;
    overflow: hidden;
    font-size: 16px;
    background-color: #e9ecef;
    border-radius: 5px;
    margin-bottom: 8px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #3f6ad8;
    transition: width 0.6s ease;
}

.progress .progress-bar:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.progress-bar-animated {
    animation: progress-bar-stripes 0.5s linear infinite;
    background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.progress-bar-animated-alt {
    position: relative;
}

    .progress-bar-animated-alt .progress-bar::after {
        content: '';
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        animation: progress-active 2s ease infinite;
    }

@keyframes progress-bar-stripes {
    from {
        background-position: 10px 0
    }

    to {
        background-position: 0 0
    }
}

@keyframes progress-active {
    0% {
        opacity: .4;
        width: 0
    }

    100% {
        opacity: 0;
        width: 100%
    }
}

.progress-bar > [data-tooltip] {
    position: absolute;
    z-index: 6;
    cursor: pointer;
}

    .progress-bar > [data-tooltip]:before,
    .progress-bar > [data-tooltip]:after {
        visibility: hidden;
        pointer-events: none;
    }

    .progress-bar > [data-tooltip]:before {
        position: absolute;
        bottom: 100%;
        left: 49%;
        margin-bottom: 4px;
        /* margin-left: -60px; */
        padding: 7px;
        border-radius: 3px;
        background-color: hsla(0, 0%, 20%, 0.9);
        color: #fff;
        width: auto;
        content: attr(data-tooltip);
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
    }

    .progress-bar > [data-tooltip]:after {
        position: absolute;
        bottom: 100%;
        width: 0;
        border-top: 5px solid #000;
        border-top: 5px solid hsla(0, 0%, 20%, 0.9);
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        content: " ";
        font-size: 0;
        line-height: 0;
    }

.progress-bar > [data-tooltip]:hover:before,
.progress-bar > [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}